<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="/lib/weui.min.css">
    <link rel="stylesheet" href="/css/jquery-weui.css">
    <link rel="stylesheet" href="/css/demos.css">
</head>
<body ontouchstart>


<header class='demos-header'>
    <h1 class="demos-title">随机姓名</h1>
</header>
<div class="weui-form-preview" id="monthDiv">
    <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">姓名</label>
            <span class="weui-form-preview__value" id="fakeName"></span>
        </div>
    </div>
</div>

<div class='demos-content-padded'>
    <a href="javascript:;" class="weui-btn weui-btn_primary" onclick="getFakeName()">生成随机姓名</a>
</div>

<script src="/lib/jquery-2.1.4.js"></script>
<script src="/lib/fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
    function getFakeName(){
        var prefix = config.config.urlPrefix;
        $.ajax({
            url:prefix+"/getFakeName",
            type:"post",
            dataType:"json",
            success:function(data){
                $("#fakeName").text(data.name);
            }
        })
    }
</script>
<script src="/js/jquery-weui.js"></script>
</body>
<script src="/lib/jquery-2.1.4.js"></script>
<script src="/lib/fastclick.js"></script>
<script src="/js/jquery-weui.js"></script>
<script src="/js/common.js"></script>
</html>